{% extends "base.html" %}


{% block title %}Tasks{% endblock title %}


{% block body %}

<div class="container">
    <h1>Welcome, {{ username }}!</h1> 
        <h2>Your Tasks:</h2>

    {% if todos %} {# Check if the 'todos' list is not empty #}
            <ul class="task-list">
                {% for task in tasks %} {# Loop through each todo item in the 'todos' list #}
                    <li>
                        <h3>{{ task.title }}</h3> {# Access attributes of the 'todo' object #}
                        <p>{{ task.description }}</p>
                        {% if task.completed %}
                            <span class="completed">Completed</span>
                        {% else %}
                            <span class="pending">Pending</span>
                        {% endif %}
                        <p><small>Assigned to user ID: {{ todo.user.id }} ({{ todo.user.username }})</small></p>
                        {# You can also access related user data directly through the foreign key relationship #}
                        <hr>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You don't have any tasks yet. Time to create some!</p>
        {% endif %}
    
    
    {% endif %}



</div>



{% endblock body %}