{% extends "base.html" %}


{% block title %}Tasks{% endblock title %}


{% block body %}

<div class="container">
    
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Tasks</th>
        <th scope="col">Description</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <th scope="row">{{task.id}}</th>
                <td>{{task.task_name}}</td>
                <td>{{task.description}}</td>
                <td>{{task.priority}}</td>
                <td>
                    {% if task.is_completed == True%}
                    <span class="text-success" > Completed</span>
                    {% else %}
                    <span class="text-warning">Pending</span> 
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-success" href="{{task.id}}">Mark</a>
                    <a class="btn btn-warning" href="{{task.id}}/edit">Edit</a>
                    <a class="btn btn-danger" href="{{task.id}}/delete">Delete</a> 
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock body %}